<form>
  <div class="row mb-2">
    <div class="col-12 col-lg-4">
      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" class="form-control"/>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-group">
        <label>Apellido:</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-group">
        <label>Ocupación:</label>
        <input type="text" class="form-control" />
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success">
    Enviar
  </button>
</form>
